:root {
  --blackBorder: black 2px solid;
}

@font-face {
  font-family: Futura;
  src: url("./fonts/FuturaLT.woff2");
}

* {
  margin: 0;
  padding: 0;
  place-self: center;
  font-family: futura, Courier, monospace;
  color: rgb(35, 35, 35);
}
body {
  background-color: beige;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  max-width: 1500px;
  border: var(--blackBorder);
}
ol {
  display: flex;
  flex-direction: row;
}
main {
  border: magenta 2px solid;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
li {
  list-style: none;
}
